<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<%- include('./partials/head.ejs') %>

<body>
   
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>All blogs</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum esse reprehenderit amet officiis possimus, necessitatibus nobis illo laboriosam quaerat ab similique nesciunt itaque quod minima expedita, non totam porro ex?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt necessitatibus, doloremque quo corrupti voluptatibus minus! Voluptas quos architecto voluptate dolores ex eos numquam expedita corrupti reiciendis minus? Vitae, similique dolorum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste reprehenderit, mollitia veritatis unde aut vitae eius porro! Commodi, dolor eum! Deleniti veritatis eos libero recusandae magnam ad fuga dicta earum.</p>
    </div>


    <%- include('./partials/footer.ejs') %>

</body>

</html>